.myheader {
font-size: x-large;
font-family: Arial, Helvetica, sans-serif;
padding: 20px;
background-color: lightseagreen;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
}

header img {
    border-radius: 50% 50%;
    height: auto;
    width: 100px;
}

.myheader h1 {
    display: inline-block;
}

body {
    background-color: lightgray;
}

.navbar {
    padding-top: 15px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.navbar ul {
    list-style-type: none;
}
.navbar ul li {
    display: inline-block;
    margin-left: 25px;
}

p {
    font-size: 18px;
    flex-wrap: inherit;
}

.hero {
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/local-mural-collection-fence-mural-110960618.jpg");
    background-size: cover;
    background-position: center;
}

section img {
    height: 200px;
}

section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: #0072bb;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#my-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 500px;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container a {
    width: 50%;
}

.flex-container a img {
    width: 300px;
}


h1 {
    flex: auto;
}

#contact-me li {
    font-size: x-large;
    flex-direction: column;
}